@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<h1 style="margin: auto; width: 50%; border: 10px solid green; padding: 50px;">Welcome Back to Narwade Hospital Demo</h1>

@{
    ViewData["Title"] = "Dashboard";
}


@section Scripts {
    <script src="~/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/js/ShowNotification.js"></script>
    <script type="text/javascript"></script>

}